debugpy==1.8.21
dill==0.4.1
googleapis-common-protos==1.75.0
grpcio==1.82.1
opentelemetry-api==1.44.0
opentelemetry-exporter-otlp-proto-common==1.44.0
opentelemetry-exporter-otlp-proto-grpc==1.44.0
opentelemetry-instrumentation==0.65b0
opentelemetry-instrumentation-grpc==0.65b0
opentelemetry-proto==1.44.0
opentelemetry-sdk==1.44.0
opentelemetry-semantic-conventions==0.65b0
packaging==26.2
parver==1.0
protobuf==6.33.6
pulumi==3.253.0
pulumi_aws==7.38.0
PyYAML==6.0.3
semver==3.0.4
typing_extensions==4.16.0
wrapt==2.2.2
